{% extends "apps/layout.html" %}

{% block body %}
        
    <div style="margin: auto; width: 350px; border: 3px solid black; padding: 10px; margin-top: 80px;" class="card" style="width: 18rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Martin Manchev</h5>
          <p class="card-text">
              Full Stack Web Developer
          </p>
          <hr>
<pre style="font-family: sans-serif">It's only me (for now). 
I made this site using HTML, 
Bootstrap and a little JavaScript 
in the Frontend. The Backend runs 
on Django (written in Python). 
I also have 3+ years worth of 
experience with C#, and 1 year 
of experience with web-development 
technologies (such as HTML, CSS, 
SCSS, JavaScript, React, Django e.t.c).</pre>
          <hr>
          <div style="margin: 24px 0; text-align: center; font-size: large;">
            <a href="https://github.com/mmanchev23"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/martin-manchev-854345168/"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/mmanchev23/"><i class="fa fa-instagram"></i></a>    
            <a href="https://www.facebook.com/mmanchev23"><i class="fa fa-facebook"></i></a> 
            <a href="https://www.reddit.com/user/MartinManchev"><i class="fa fa-reddit"></i></a>
          </div>
        </div>
    </div>

{% endblock %}