{% extends "apps/layout.html" %}

{% block body %}

<div style="display: flex; margin-top: 170px;">
  <div style="flex: 1;">
    <p>

    </p>
  </div>
  <div style="flex: 1; text-align: center;">
    <div>
      <h1 class="display-4">Welcome to <h1 style="font-family: Brush Script MT;">Healthy at home</h1></h1>
    </div>
    <br>
    <div>
      <h1 class="lead">
        Welcome to my first website! <br>
        Its purpose is to help you better <br>
        organize your home-health routine. <br>
        Therefore I have developed and added <br>
        a bunch of, in my opinion, useful features <br>
        such as, <a style="color: white;" href="/BMICalculator/">BMI Calculator</a>, <a style="color: white;" href="/tasks/">To-do List</a>, <br>
        <a style="color: white;" href="/CalorieCounter/">Calorie Counter</a>, and also a bunch of <a style="color: white;" href="/workouts/">Workouts</a>.
      </h1>
    </div>
  </div>
</div>

{% endblock %}